<div class="inventory" ng-init="grabInventory()">
  <button type="button" class="btn refresh-btn" id="btn" ng-click="updateInventory()"><span class="glyphicon glyphicon-refresh" style="color: white" aria-hidden="true"></span> Refresh Inventory</button>
  <div>
      <img src="../../img/loading.gif" ng-show="inventoryLoading"/>
      <table class="item-table table-responsive" ng-show="!inventoryLoading">
        <tbody>
          <tr ng-repeat="item in items">
            <td class="itemBox" data-toggle="popover" data-container="body" data-content="{{i.market_hash_name}}" ng-repeat="i in item">
              <div id="itemContainer">
                <img id="itemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/{{i.icon_url}}" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.item-table').on('mouseenter', '[data-toggle=popover]', function(e) {
      $(this).popover('show');
    });

    $('.item-table').on('mouseleave', '[data-toggle=popover]', function(e) {
      $(this).popover('hide');
    });
  });
</script>
