<div class="container-fluid">

  <div class="progress-container col-md-4">
    <div class="progress-text" ng-style="getStyle()">{{jackRef.itemsCount}}/50</div>
    <div
    round-progress
    max="50"
    current="jackRef.itemsCount"
    color="#5FB760"
    bgcolor="#eaeaea"
    radius="175"
    stroke="50"
    semi="false"
    rounded="true"
    clockwise="true"
    responsive="false"
    duration="800"
    animation="easeOutCubic"></div>
    <table class="table table-bordered panel" id="jackpot-table">
      <tr>
        <thead>
          <th id="jackpot-header">Current Jackpot Value</th>
        </thead>
        <td>
          <span id="jackpot-value">{{jackRef.jackpotValue}}</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-5 jackpots">
    <div class="current-jackpot">
      <table class="table table-responsive table-bordered panel" id="deposits-table">
        <thead>
          <th id="deposits-header" colspan="2">
          Round #2 Started
          <i class="glyphicon glyphicon-question-sign"></i>
          </th>
        </thead>
        <tr ng-repeat="player in jackpotPlayers">
          <td class="deposits-player">
            <div>
              <img class="deposits-player-photo" src="{{player.avatar}}" />
            </div>
          </td>
          <td>
            <div class="deposits-item">
              <img popover id="deposits-item" ng-repeat="item in player.items" src="https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" />
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="ended-jackpots">
      <div class="winner">&#x2606 Winner! <img class="winner-photo" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/62/626d9a8ffbe54581cb92c7a9e0cd7b2dba730e14_medium.jpg" /> Won 1,509 with 79% &#x2606 </div>
      <table class="table table-responsive table-bordered panel" id="deposits-table">
        <thead>
          <th id="deposits-header" colspan="2">
          Round #1 Ended
          <i class="glyphicon glyphicon-question-sign"></i>
          </th>
        </thead>
        <tr ng-repeat="player in jackpotPlayers">
          <td class="deposits-player">
            <div>
              <img class="deposits-player-photo" src="{{player.avatar}}" />
            </div>
            <div id="deposits-player">{{player.displayName}}</div>
            <div class="deposits-value">{{player.itemsValue}}</div>
            <div class="deposits-value">26%</div>
          </td>
          <td>
            <div class="deposits-item">
              <img popover id="deposits-item" ng-repeat="item in player.items" src="https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="chat col-md-3">
    <irontec-simple-chat
      messages="messages"
      username="username"
      input-placeholder-text="Write message here..."
      submit-button-text="Send"
      title="192 Users Online"
      theme="irontec"
      submit-function="sendMessage"
      visible="visible"
      expand-on-new="expandOnNew">
    </irontec-simple-chat>
  </div>
</div>

