<div class="main-table">
  <table class="table table-bordered panel" id="main-table">
    <tr>
      <td>
        <div class="main-table-cell-header">Jackpot</div>
        <span class="main-table-cell-text">$1,629</span>
      </td>
      <td>
        <div class="main-table-cell-header">Your Deposit</div>
        <span class="main-table-cell-text">$526</span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="main-table-cell-header">Players</div>
        <span class="main-table-cell-text">6</span>
      </td>
      <td>
        <div class="main-table-cell-header">Chance To Win</div>
        <span class="main-table-cell-text">32%</span>
      </td>
    </tr>
  </table>
  <table class="table table-bordered panel" id="main-table">
    <thead>
      <th id="jackpotHeader" colspan="3">Skins in Current Jackpot</th>
    </thead>
    <tr>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpopbuyLgNv1fX3eSR97t27lo-EqP3hPbzdk1RT5MRygdbN_Iv9nBrsqEBoZm_1LNCcJgBsMFHW-we5w7i7g5HvuJ3MmHo27iJxsymLyxHkn1gSOctrpo8e" /></div>
        <span class="jackpot-table-cell-text">$54.10</span>
      </td>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgposbaqKAxf0uL3djFN79fnzL-Nm_b5NqjulGdE7fp8j-3I4IG72ADkrRdpZTr3I9PBI1c7ZViDrgS-xOi5hMTu7czLwXJgvHJw7SzVngv3308koXSX8A" /></div>
        <span class="jackpot-table-cell-text">$26.92</span>
      </td>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpoo7e1f1JfwOP3dTxS_NCzq4yCkP_gfbqDw2gIusF32L_A9t323wS3_UZrZ2iiJIHBe1JvaQrQrlG5yevvh5Si_MOecRXE-L0" /></div>
        <span class="jackpot-table-cell-text">$5.26</span>
      </td>
    </tr>
    <tr>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpopbuyLgNv1fX3eSR97t27lo-EqP3hPbzdk1RT5MRygdbN_Iv9nBrsqEBoZm_1LNCcJgBsMFHW-we5w7i7g5HvuJ3MmHo27iJxsymLyxHkn1gSOctrpo8e" /></div>
        <span class="jackpot-table-cell-text">$54.10</span>
      </td>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgposbaqKAxf0uL3djFN79fnzL-Nm_b5NqjulGdE7fp8j-3I4IG72ADkrRdpZTr3I9PBI1c7ZViDrgS-xOi5hMTu7czLwXJgvHJw7SzVngv3308koXSX8A" /></div>
        <span class="jackpot-table-cell-text">$26.92</span>
      </td>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpoo7e1f1JfwOP3dTxS_NCzq4yCkP_gfbqDw2gIusF32L_A9t323wS3_UZrZ2iiJIHBe1JvaQrQrlG5yevvh5Si_MOecRXE-L0" /></div>
        <span class="jackpot-table-cell-text">$5.26</span>
      </td>
    </tr>
        <tr>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpopbuyLgNv1fX3eSR97t27lo-EqP3hPbzdk1RT5MRygdbN_Iv9nBrsqEBoZm_1LNCcJgBsMFHW-we5w7i7g5HvuJ3MmHo27iJxsymLyxHkn1gSOctrpo8e" /></div>
        <span class="jackpot-table-cell-text">$54.10</span>
      </td>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgposbaqKAxf0uL3djFN79fnzL-Nm_b5NqjulGdE7fp8j-3I4IG72ADkrRdpZTr3I9PBI1c7ZViDrgS-xOi5hMTu7czLwXJgvHJw7SzVngv3308koXSX8A" /></div>
        <span class="jackpot-table-cell-text">$26.92</span>
      </td>
      <td>
        <div class="jackpot-table-cell-header"><img id="jackpotItemBox" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpoo7e1f1JfwOP3dTxS_NCzq4yCkP_gfbqDw2gIusF32L_A9t323wS3_UZrZ2iiJIHBe1JvaQrQrlG5yevvh5Si_MOecRXE-L0" /></div>
        <span class="jackpot-table-cell-text">$5.26</span>
      </td>
    </tr>
  </table>
</div>
<div class="progress-container" id="ui-view-wrapper">
    <div class="progress-text" ng-style="getStyle()">44/50</div>
    <div
    round-progress
    max="50"
    current="44"
    color="#5FB760"
    bgcolor="#eaeaea"
    radius="250"
    stroke="80"
    semi="false"
    rounded="false"
    clockwise="true"
    responsive="false"
    duration="800"
    animation="easeOutCubic"></div>
</div>

<div style="float: right; width: 300px; height: 500px">
  <irontec-simple-chat
    messages="messages"
    username="username"
    input-placeholder-text="Write message here..."
    submit-button-text="Send"
    title="192 Users Online"
    theme="irontec"
    submit-function="sendMessage"
    visible="visible"
    expand-on-new="expandOnNew">
  </irontec-simple-chat>
</div>
