<div class="container">
  <div class="navbar-header nav-item">
    <button class="btn btn-{{successDanger}} navbar-btn play-button nav-popover" ng-show="isAuth" ng-click="togglePlay()" snap-toggle="" data-toggle="popover" data-container="body" data-content="Play & Win Skins"><i class="glyphicon glyphicon-{{playStop}} play-text"></i></button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" id="navbar-right">
      <li class="nav-item">
        <button class="btn btn-info navbar-btn nav-popover" data-toggle="popover" data-container="body" data-content="How To Play"><i class="glyphicon glyphicon-info-sign nav-button"></i></button>
      </li>
      <li class="nav-item">
        <button class="btn btn-warning navbar-btn nav-popover" data-toggle="popover" data-container="body" data-content="Questions & Support"><i class="glyphicon glyphicon-envelope nav-button"></i></button>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger navbar-btn nav-popover" data-toggle="popover" data-container="body" data-content="Earn Free Spins"><i class="glyphicon glyphicon-gift nav-button"></i></button>
      </li>
      <li class="nav-item" ng-show="!isAuth">
        <a href="/users/auth/steam"><img src="img/sits_small.png" /></a>
      </li>
      <li ng-show="isAuth">
        <a href="" class="nav-popover" data-toggle="popover" data-container="body" data-content="Profile"><img id="profilePic" src="{{profilePic}}" /></a>
      </li>
    </ul>
  </div>
</div>

<script src="js/jquery-nav.js"></script>
