<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" popover>
  <div class="navbar-header nav-item">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img style="width: 25%" src="../../img/logo.png" />
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right" id="navbar-right">
      <li class="nav-item">
        <button class="btn btn-{{successDanger}} navbar-btn play-button" ng-show="isAuth" data-toggle="modal" data-target="{{playDestination}}" data-trigger="hover" rel="popover" data-content="Play Now"><i class="glyphicon glyphicon-piggy-bank play-button-text"></i></button>
      </li>
      <li class="nav-item">
        <button class="btn btn-info navbar-btn" data-toggle="modal" data-target="#info" data-trigger="hover" rel="popover" data-content="How To Play"><i class="glyphicon glyphicon-info-sign nav-button"></i></button>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#free" data-trigger="hover" rel="popover" data-content="Get Free Skins"><i class="glyphicon glyphicon-gift nav-button"></i></button>
      </li>
      <li class="nav-item" ng-show="!isAuth">
        <a href="/auth/steam"><img src="img/sits_large_border.png" /></a>
      </li>
      <li ng-show="nav-item isAuth">
        <img id="profilePic" data-trigger="hover" rel="popover" data-content="Deposit: {{$root.user.deposit}} <br />Won: {{$root.user.won}}" ng-src="{{profilePic}}" />
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-danger modal-close-btn" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
        <h4 class="modal-title" id="myModalLabel">How To Play & How Our Jackpot Works</h4>
      </div>
      <div class="modal-body">
        <ol><span class="how-to-play"><u>How To Play</u></span>
          <li class="how-to-play">Sign into Steam <img style="height: 25px; width: 50px" src="../../img/sits_large_border.png" /></li>
          <li class="how-to-play"> Set your Steam inventory privacy settings to public (in your Steam profile privacy settings), this way our bots can send you trade requests for deposits and your winnings.</li>
          <li class="how-to-play">Click the deposit button <img style="height: 25px; width: 25px" src="../../favicon.ico" /> and set your trade URL. Press the deposit button again, refresh your inventory <img style="height: 25px; width: 30px" src="../../img/refresh.png" />, and select the items you want to deposit into the jackpot.</li>
          <li class="how-to-play">You're on your way to a sweet inventory, good luck!</li>
          <li class="how-to-play">If you have any questions, don't hesitate to contact us through support (bottom-right of our site), we'll try to get back to you within minutes</li>
        </ol>
        <ul><span class="how-to-play"><u>How Our Jackpot Works</u></span>
          <li class="how-to-play">Select up to 10 skins to deposit into the jackpot, 1 value minimum. Once 50 items or more are in the jackpot, the winner is selected.</li>
          <li class="how-to-play">Once items are deposited or won, you will receive a trade offer from our bots. This normally takes seconds, but may take up to 5 minutes if steam servers are down or we have a lot of deposits -- we will make sure you ALWAYS receive your winnings or deposit your items.</li>
          <li class="how-to-play">NOTE: We will NEVER add you or ask you for your skins without you requesting a deposit. A protection code is generated with each trade request, please confirm before accepting.</li>
          <li class="how-to-play">Please be patient with us, we are still working on building out the features and functionality of the site. If you have any questions, suggestions, or issues, please contact us via the chat/support button on the bottom right of the site.</li>
          <li class="how-to-play">We take one skin from every pot, ranging from 2-10% of the jackpot value. We will tell you what item we raked when we send you your winnings (in the trade message).</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deposit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="DepositCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="deposit-header">
        <button class="btn btn-danger modal-close-btn" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="accept-trade" ng-show="tradeID && protectionCode">
          <p>We've sent you a trade offer. Accept it in order to deposit your items into the jackpot.</p>
          <p>Protection Code: {{protectionCode}}</p>
          <a target="_blank" href="https://steamcommunity.com/tradeoffer/{{tradeID}}"><button class="btn btn-success accept-trade-btn"><span>Accept Trade Offer</span></button></a>
          <p>Notice: As soon as your offer is accepted, we'll deposit your items into the jackpot. This process may take seconds to minutes depending on the amount of load we're experiencing. Please be patient and good luck!</p>
          <p>We will cancel any trade offers not accepted within 1 hour.</p>
        </div>
        <div class="error-message" ng-show="errorDetected">
          <span>There was an error with your trade offer. <br />Please try depositing again or contact support.</span>
        </div>
        <div class="loader" ng-show="loadingTrade"></div>
        <div ng-show="!tradeID && !protectionCode && !loadingTrade">
          <div class="deposit-buttons">
            <button class="btn btn-success btn-popover" id="inventory-btn" data-toggle="popover" data-container="body" data-content="Deposit Selected Items Into Jackpot" ng-click="depositItems()"><span class="inventory-btn">Deposit{{selectedQuantity()}}</span></button>

            <button class="btn btn-info btn-popover" id="inventory-refresh-btn" data-toggle="popover" data-container="body" data-content="Refresh Inventory" ng-click="fetchInventory()"><i class="glyphicon glyphicon-refresh inventory-refresh-btn" ng-class="{true: 'glyphicon-refresh-animate'}[inventoryLoading]"></i></button>
          </div>
          <div id="total-value-text">
            <span>Total Value: {{totalValue()}} | Mininum 1 Value Total | 10 Skins Max</span>
            <div class="items-shown" ng-show="!items.length">Get your up-to-date inventory by refreshing <img style="height: 25px; width: 30px" src="../../img/refresh.png" /></div>
            <div class="items-shown" ng-show="items.length">If you are missing any items, please refresh your inventory <img style="height: 25px; width: 30px" src="../../img/refresh.png" /> again </div>
            <div class="privacy-warning" ng-show="!items.length">*Make sure your steam inventory privacy settings are set to public or you won't see your items*</div>
          </div>

          <div class="userItems">
            <div class="itemContainer" popover toggle-class ng-repeat="item in items" ng-click="selectItem(item)">
              <img class="itemBox" rel="popover" data-trigger="hover" data-content="{{item.market_hash_name}}" ng-src="https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}" />
              <div class="itemPrice">{{item.market_price}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tradeurl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="deposit-header">
        <button class="btn btn-danger modal-close-btn" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
        <h4 class="modal-title" id="myModalLabel">Before you can start...</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="tradeUrl">
          <div>
            <label for="tradeUrlInput" id="tradeUrlText">We need your Trade URL for your deposits and winnings! Get it <a id="tradeUrlLink" target="_blank" href="http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url">here</a></label>
          </div>
          <div class="form-group">
            <input type="text" id="tradeUrlInput" class="form-control" ng-click="clearPlaceholder()" ng-model="tradeUrl" placeholder="{{tradeUrl}}">
          </div>
          <button type="submit" class="btn btn-success" ng-click="updateTradeUrl()">Submit</button>
          <div class="trade-url-success" ng-show="tradeUrlSuccess">
            <p>You've successfully entered in your trade URL! Close this window and press deposit again to deposit your skins into the jackpot.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="free" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-danger modal-close-btn" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
        <h4 class="modal-title" id="myModalLabel">Get Free Skins!</h4>
      </div>
      <div class="modal-body" style="text-align: center; color: white">
      <h6>Please check back later, we're trying to come up with a better way to reward our users</h6>
        <!-- <h1>Today's Free Skin</h1>
        <h6><i>Deposit into the jackpot once a day to be entered into our daily skin giveaway.</i></h6>
        <div><img style="width: 400px; height: 300px" src="{{dailyGiveaway.start}}" /></div>
        <h1>Yesterday's Skin Giveaway</h1>
        <h6><i>Congrats {{dailyGiveaway.winner}}!</i></h6>
        <div><img style="width: 400px; height: 300px" src="{{dailyGiveaway.end}}" /></div> -->
      </div>
    </div>
  </div>
</div>
