<h1>Terms of Use</h1>
<p>Usage of our site, SnipeGo, Inc. (henceforth to be referred to as “SG”) and its services constitute your acceptance of this agreement. If you do not agree to any of these stipulations please leave the site immediately.</p>

<p>If you would like to know more or have any questions/concerns, please contact us via our support system.</p>

<h3>Requirements<h3>
<p>By using SG, you represent and warrant that you are at least 18 years old and of legal age to form a binding contract in your jurisdiction. By using our site and its services, you acknowledge that you have read, understood and are able to comply with the rules and regulations set forth by our organization. These terms may be altered and amended as the business grows, and all users are expected to adhere to any changes made in our Terms of Use document.</p>

<h3>Ownership</h3>
<p>All materials on this site are the intellectual property of SG or their respective entities and you may not use any of the content you see here for commercial use without permission. This includes but is not limited to any likeness of our site and its images, any licensed code or features in use on our site. Exclusive rights for CS:GO and its related virtual items belong to Steam and the Valve corporation.</p>

<h3>Conduct</h3>
<p>We reserve the right to restrict access to malicious users. Fraudulent activity and any attempts to scam will result in a swift and permanent ban from our services. Any attempts to impersonate SG staff, misuse the site and its services, or harass other users will result in termination.</p>

<p>Our system doesn't differentiate between phase, pattern, sticker or nametags on skins. We advise against betting items that are sentimental to you. (i.e all Factory New AK-47 Vulcans are treated equally. If you bet a FN Vulcan, you are not guaranteed to get the SGme one back if you win).</p>

<h3>Winnings and Disbursement</h3>
<p>Users will receive winnings from a designated SG trade bot once a round has ended. Statistics are kept from each round played to prevent any confusion or misuse of the site. A 2-10% house fee is taken from each round. SG may monitor site activity and individual rounds to deter fraudulent activity.</p>

<h3>Limitation of Liability</h3>
<p>Use of our services is at your own risk. SG and its employees or agents will never be held liable for your profits or losses while using our services.</p>

<h3>Collecting Payouts</h3>
<p>Users have a grace period of 48 hours to collect their payouts from the raffle. Items leftover after this time are discarded.</p>
