html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

snap-content {
  border-left: 1px solid black;
}

.fill {
  padding-top: 50px;
  background: black;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.refresh-btn {
  margin-left: 10px;
}

.progress-container {
  text-align: center;
  position: relative;
}

.progress-text {
  position: absolute;
  color: white;
  font-weight: 50;
  line-height: 1;
}

.play-text {
  font-size: 3.55em;
}

.nav-button {
  font-size: 3.55em;
}

.nav-item {
  margin-top: 5px;
  margin-left: 15px;
}

.sidebar-content {
  margin-top: 10em;
}

.main-content {
  margin-top: 5em;
}
