html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

/* Jackpot Info Right-Side Table */

.btn {
  font-family: "Open Sans" !important;
}

.panel {
  background-color: #212121 !important;
  border: 1px solid black !important;
}

.main-table {
  font-family: "Open Sans";
  text-align: center;
}

#main-table td {
  border-color: black;
  border-width: 5px;
}

.main-table-cell-header {
  color: white;
  font-size: 18px;
  min-width: 150px;
  min-height: 1.5em;
}

.main-table-cell-text {
  color: #5FB760;
  font-size: 16px;
}

#jackpot-table {
  margin-top: 15px;
}

#jackpot-table {
  font-family: "Open Sans";
}

#jackpot-table td {
  border-color: black;
  border-width: 5px;
}

.jackpot-table-cell-header {
  min-width: 75px;
  min-height: 75px;
}

.jackpot-table-cell-text {
  color: #5FB760;
  font-size: 16px;
}

#jackpotItemBox {
  height: 61px;
  width: 75px;
}

#jackpotHeader {
  font-size: 16px;
  color: white;
  border: 5px solid black;
  text-align: center;
}

/* General */

.btn:focus,.btn:active {
  outline: none !important;
}


.fill {
  padding-top: 50px;
  background: black;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Jackpot Progress */

.progress-container {
  text-align: center;
}

.progress-text {
  position: absolute;
  color: white;
  font-weight: 50;
  line-height: 1;
  text-align: center;
}

/* Nav Items */

.play-button-text {
  font-size: 3.55em;
}

.nav-button {
  font-size: 3.55em;
}

.nav-item {
  margin-top: 5px;
  margin-left: 15px;
}

/* Snap.js */

.sidebar-content {
  margin-top: 8em;
  margin-left: 0.5em;
}

.main-content {
  margin-top: 5em;
}

.snap-drawer {
  background-color: black;
  width: 365px;
}

/* Deposit View Buttons */

.inventory-btn {
  font-size: 1.8em;
}

#inventory-btn {
  margin-left: 5px;
}

.inventory-refresh-btn {
  font-size: 2.15em;
}

#inventory-refresh-btn {
  float: right;
  margin-right: 5px;
  width: 10em;
}

/* Deposit View Items */

.itemContainer {
  background-color: #212121;
  margin: 5px;
  height: 84px;
  width: 74px;
  display: inline-block;
  text-align: center;
}

.highlightSelected {
  border: 1px solid #5FB760;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.itemBox {
  padding: 5px;
  height: 60px;
  width: 74px;
}

.itemPrice {
  color: #5FB760;
  font-size: 14px;
  font-family: "Open Sans";
}

.items-shown {
  color: white;
  font-size: 12px;
  font-family: "Open Sans";
}

#total-value-text {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: white;
  font-family: "Open Sans";
  text-align: center;
}

/* Chat */

.chat {
  min-width: 150px;
  height: 500px;
}

