html, body {
  font-family: "Open Sans";
  height: 100%;
}

/* Main View - Jackpot Progress */

hr {
  width: 90% !important;
  margin: 0 0 0 25px !important;
}

.progress-container {
  text-align: center;
}

.progress-text {
  position: absolute;
  color: #5FB760;
  text-align: center;
}

#progress-table {
  margin-top: 25px;
  border: 5px solid black;
}

#progress-header {
  color: #E5E5E5;
  font-size: 22px;
  border-color: black;
  border-width: 2px;
  text-align: center;
}

#progress-value {
  color: #5FB760;
  font-size: 36px;
}

/* Main View - Current Jackpots */

.current-jackpot {
  width: 100%;
  background-color: #212121;
  margin-bottom: 25px;
  margin-top: 3px;
}

.jackpot-header {
  padding-top: 10px;
  text-align: center;
  height: 60px;
  color: white;
}

.jackpot-player {
  min-height: 80px;
  padding-top: 10px;
  border-top: 2px solid black;
  overflow: hidden;
}

.jackpot-player-photo {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 15px;
  float: left;
}

.jackpot-player-deposit {
  width: 80%;
  height: 100px;
  float: right;
}

.jackpot-player-deposit-item {
  height: 43px;
  width: 64px;
  margin: 3px;
}

.round-hash {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 10px;
}

/* Ended Jackpots */

.ended-jackpots {
  width: 100%;
  background-color: #212121;
  margin-bottom: 25px;
  margin-top: 3px;
}

.round-winner {
  height: 60px;
  background-color: #5FB760;
  color: white;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}

.winner-photo {
  height: 40px;
  width: 40px;
}

.winner-glyphicon {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  color: white;
}


.navbar {
  padding: 0 40px;
}

.btn {
  font-family: "Open Sans" !important;
}

.panel {
  background-color: #212121 !important;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.modal-body {
  background-color: #212121;
}

.modal-header {
  background-color: #212121;
  color: white;
}

.modal-close-btn {
  float: right;
}

/* Jackpot Progress */

/* Jackpot Table */

/* Deposits Table */

/* General */

.btn:focus,.btn:active {
  outline: none !important;
}


.fill {
  background: black;
  height: 100%;
  padding-top: 100px;
  overflow: auto;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Nav Items */

.play-button-text {
  font-size: 3.55em;
}

.nav-button {
  font-size: 3.55em;
}

.nav-item {
  margin-top: 5px;
  margin-left: 15px;
}

#tradeUrlText {
  color: #E5E5E5;
}

#tradeUrlInput {
  width: 35em;
}

.trade-url-success {
  border: 3px solid #5FB760;
  width: 100%;
  height: 75px;
  margin-top: 15px;
  background-color: white;
  font-family: "Open Sans";
  padding: 10px;
}



/* Deposit View Buttons */

.inventory-btn {
  font-size: 1.5em;
}

/*.deposit-buttons {
  text-align: center;
}*/

#inventory-btn {
  margin-top: 2px;
}

.inventory-refresh-btn {
  font-size: 2.25em;
  float: left;
}

#inventory-refresh-btn {
  float: right;
}

/* Deposit View Items */

.itemContainer {
  background-color: #212121;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: inline-block;
  text-align: center;
  margin: 5px;
  height: 84px;
  width: 74px;
}

.userItems {
  margin-left: 30px;
}

.highlightSelected {
  border: 1px solid #5FB760;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.itemBox {
  padding: 5px;
  height: 60px;
  width: 74px;
}

.itemPrice {
  color: #5FB760;
  font-size: 14px;
  font-family: "Open Sans";
}

.items-shown {
  color: #E5E5E5;
  font-size: 12px;
  font-family: "Open Sans";
}

#total-value-text {
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #E5E5E5;
  font-family: "Open Sans";
  text-align: center;
}

.deposit-header {
  height: 30px;
}

.modal-title {
  padding-top: 10px;
}

/* Chat */

.chat {
  min-width: 100px;
  height: 500px;
  border: 3px solid black;

}


